<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue_grey-lime.min.css" />
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<meta name=viewport content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <h1>You Chose... PBL: {{ selected_pbl_choice }} and Number: {{ selected_num_choice }}</h1>
    <h2>Is Numchoice string? {{ str_one }}. Is PBLchoice string? {{ str_two }}.</h2>
    <h3>Shhhh.... Here's your auth code: {{ auth_code }}</h3>
</head>
<body>

</body>
</html>